@model ResultMessageDto
@{
    ViewData["Title"] = "Message Detail";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped table-hover table-bordered">

    <tr>
        <th>Name: </th>
        <td>@Model.FullName</td>
    </tr>

    <tr>
        <th>Mail: </th>
        <td>@Model.Email</td>
    </tr>

    <tr>
        <th>Subject: </th>
        <td>@Model.Subject</td>
    </tr>

    <tr>
        <th>Content: </th>
        <td>@Model.Content</td>
    </tr>

</table>
<a asp-action="Index" asp-controller="Message" asp-area="Admin" class="btn btn-outline-primary">Messages</a>

